body {
  font-family: "Avenir Next";
}

header {
  background-color: #ffdab9;
  height: 65px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header-left {
  float:left;
}

.header-right {
  float: right;
  margin-right: auto;
  transition: all 0.5s;
}

.header-right a {
  float: right;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 20px;
  line-height: 65px;
  display: block;
}
